<!DOCTYPE html>
<html lang="br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mapeamento de pastas</title>
    <link rel="stylesheet" href="../static/folderstyle.css">
</head>
<body>
    <div class="title">
        <h1>Pastas Controladoria</h1>
        <h2>SELECIONE A PASTA DESEJADA:</h2>
    </div>
    
    <div class="container">
        <div class="containerCentral">
            <div class="icon">
                <img src="../static/Image/pasta.png">
                <span>Control.</span>
            </div>
            <div class="icon">
                <img src="../static/Image/pasta.png">
                <span>Previsão</span>
            </div>
            <div class="icon">
                <img src="../static/Image/pasta.png">
                <span>Auditoria</span>
            </div>
            <div class="icon">
                <img src="../static/Image/pasta.png">
                <span>Clima Org.</span>
            </div>
            <div class="icon">
                <img src="../static/Image/pasta.png">
                <span>Conciliação Cont.</span>
            </div>
            <div class="icon">
                <img src="../static/Image/pasta.png">
                <span>Contas Transp.</span>
            </div>
            <div class="icon">
                <img src="../static/Image/pasta.png">
                <span>Custo Ind.</span>
            </div>
            <!--
            <div class="icon">
                <img src="../static/Image/pasta.png">
                <span>CENTRAL</span>
            </div>
            <div class="icon">
                <img src="../static/Image/pasta.png">
                <span>GERAL</span>
            </div>
            <div class="icon">
                <img src="../static/Image/pasta.png">
                <span>TESTE</span>
            </div>
            -->
        </div>
    </div>
</body>
</html>
