<!DOCTYPE html>
<html lang="br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mapeamento de pastas</title>
    <link rel="stylesheet" href="../static/folderstyle.css">
</head>
<body>
    <div class="title">
        <h1>Pastas das Fábricas</h1>
        <h2>SELECIONE A PASTA DESEJADA:</h2>
    </div>
    
    <div class="container">
        <div class="containerCentral">
            <div class="icon">
                <a href="/fabricas/PB1">
                <img src="../static/Image/pasta.png">
                <span>PB1</span>
                </a>
            </div>
            <div class="icon">
                <a href="/fabricas/PB2">
                <img src="../static/Image/pasta.png">
                <span>PB2</span>
                </a>
            </div>
            <div class="icon">
                <a href="/fabricas/PB4">
                <img src="../static/Image/pasta.png">
                <span>PB4</span>
                </a>
            </div>
            <div class="icon">
                <a href="/fabricas/PB9">
                <img src="../static/Image/pasta.png">
                <span>PB9</span>
                </a>
            </div>
            <div class="icon">
                <a href="/fabricas/PB10">
                <img src="../static/Image/pasta.png">
                <span>PB10</span>
                </a>
            </div>
            <div class="icon">
                <a href="{{ url_for('download_bat', id=43) }}">
                <img src="../static/Image/pasta.png">
                <span>Pasta J</span>
                </a>
            </div>
        </div>
    </div>
</body>
</html>
