<!DOCTYPE html>
<html lang="br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mapeamento de pastas</title>
    <link rel="stylesheet" href="../static/folderstyle.css">
</head>
<body>
    <div class="title">
        <h1>Pastas Financeiro</h1>
        <h2>SELECIONE A PASTA DESEJADA:</h2>
    </div>
    
    <div class="container">
        <div class="containerCentral">
            <div class="icon">
                <img src="../static/Image/pasta.png">
                <span>ACESSOS</span>
            </div>
            <div class="icon">
                <img src="../static/Image/pasta.png">
                <span>PB1</span>
            </div>
            <div class="icon">
                <img src="../static/Image/pasta.png">
                <span>PB2</span>
            </div>
            <div class="icon">
                <img src="../static/Image/pasta.png">
                <span>PB4</span>
            </div>
            <div class="icon">
                <img src="../static/Image/pasta.png">
                <span>PB5</span>
            </div>
            <div class="icon">
                <img src="../static/Image/pasta.png">
                <span>PB9</span>
            </div>
            <div class="icon">
                <img src="../static/Image/pasta.png">
                <span>PB10</span>
            </div>
            <div class="icon">
                <img src="../static/Image/pasta.png">
                <span>CENTRAL</span>
            </div>
            <div class="icon">
                <img src="../static/Image/pasta.png">
                <span>GERAL</span>
            </div>
            <div class="icon">
                <img src="../static/Image/pasta.png">
                <span>TESTE</span>
            </div>
        </div>
    </div>
</body>
</html>
