<!DOCTYPE html>
<html lang="br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mapeamento de pastas</title>
    <link rel="stylesheet" href="../static/foldes.css">
</head>
<body>
    <div class="title">
        <h1>Mapeamento de pastas</h1>
        <h2>SELECIONE A PASTA DESEJADA:</h2>
    </div>
    
    <div class="container">
        <div class="containerCentral">
            <div class="icon">
                <a href="/manutenção">
                <img src="../static/Image/pasta.png" alt="MANUT">
                <span>MANUT</span>
                </a>
            </div>
            <div class="icon">
                <a href="/rh">
                <img src="../static/Image/pasta.png" alt="RH">
                <span>RH</span>
                </a>
            </div>
            <div class="icon">
                <a href="/financeiro">
                <img src="../static/Image/pasta.png" alt="FIN">
                <span>FIN</span>
                </a>
            </div>
            <div class="icon">
                <a href="/gate">
                <img src="../static/Image/pasta.png" alt="GATE">
                <span>GATE</span>
                </a>
            </div>
            <div class="icon">
                <a href="/expedição">
                <img src="../static/Image/pasta.png" alt="EXPED">
                <span>EXPED</span>
                </a>
            </div>
            <div class="icon">
                <a href="/exportação">
                <img src="../static/Image/pasta.png" alt="EXPORT">
                <span>EXPORT</span>
                </a>
            </div>
            <div class="icon">
                <a href="/controladoria">
                <img src="../static/Image/pasta.png" alt="CONTROL">
                <span>CONTROL</span>
                </a>
            </div>
            <div class="icon">
                <a href="/juridico">
                <img src="../static/Image/pasta.png" alt="JUR">
                <span>JUR</span>
                </a>
            </div>
            <div class="icon">
                <a href="/fabricas">
                <img src="../static/Image/pasta.png" alt="Fabricas">
                <span>Fábricas</span>
                </a>
            </div>
            <div class="icon">
                <a href="/marketing">
                <img src="../static/Image/pasta.png" alt="PORCE">
                <span>MKT</span>
                </a>
            </div>
        </div>
    </div>
</body>
</html>
