<!DOCTYPE html>
<html lang="br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mapeamento de pastas</title>
    <link rel="stylesheet" href="../static/folderstyle.css">
</head>
<body>
    <div class="title">
        <h1>Pastas Manutenção</h1>
        <h2>SELECIONE A PASTA DESEJADA:</h2>
    </div>
    
    <div class="container">
        <div class="containerCentral">
            <div class="icon">
                <a href="{{ url_for('download_bat', id=3) }}">
                <img src="../static/Image/pasta.png">
                <span>GN 2025</span>
                </a>
            </div>
            <div class="icon">
                <a href="{{ url_for('download_bat', id=4) }}">
                <img src="../static/Image/pasta.png">
                <span>Utilidades</span>
                </a>
            </div>
            <div class="icon">
                <a href="{{ url_for('download_bat', id=5) }}">
                <img src="../static/Image/pasta.png">
                <span>Eng. Manut.</span>
                </a>
            </div>
            <div class="icon">
                <a href="{{ url_for('download_bat', id=6) }}">
                <img src="../static/Image/pasta.png">
                <span>Polimento</span>
                </a>
            </div>
            <div class="icon">
                <a href="{{ url_for('download_bat', id=7) }}">
                <img src="../static/Image/pasta.png">
                <span>Manuais</span>
                </a>
            </div>
            <div class="icon">
                <a href="{{ url_for('download_bat', id=8) }}">
                <img src="../static/Image/pasta.png">
                <span>Central</span>
                </a>
            </div>
            <div class="icon">
                <a href="{{ url_for('download_bat', id=9) }}">
                <img src="../static/Image/pasta.png">
                <span>Prevent.</span>
                </a>
            </div>
            <div class="icon">
                <a href="{{ url_for('download_bat', id=2) }}">
                <img src="../static/Image/pasta.png">
                <span>Manut.</span>
                </a>
            </div>
            <div class="icon">
                <a href="{{ url_for('download_bat', id=1) }}">
                <img src="../static/Image/pasta.png">
                <span>Pasta J</span>
                </a>
            </div>
        </div>
    </div>
</body>
</html>
