<!DOCTYPE html>
<html lang="br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mapeamento de pastas</title>
    <link rel="stylesheet" href="../static/folderstyle.css">
</head>
<body>
    <div class="title">
        <h1>Pastas RH</h1>
        <h2>SELECIONE A PASTA DESEJADA:</h2>
    </div>
    
    <div class="container">
        <div class="containerCentral">
            <div class="icon">
                <a href="{{ url_for('download_bat', id=11) }}">
                <img src="../static/Image/pasta.png">
                <span>RH</span>
                </a>
            </div>
            <div class="icon">
                <a href="{{ url_for('download_bat', id=12) }}">
                <img src="../static/Image/pasta.png">
                <span>ADM RH</span>
                </a>
            </div>
            <div class="icon">
                <a href="{{ url_for('download_bat', id=13) }}">
                <img src="../static/Image/pasta.png">
                <span>Benefícios</span>
                </a>
            </div>
            <div class="icon">
                <a href="{{ url_for('download_bat', id=14) }}">
                <img src="../static/Image/pasta.png">
                <span>Comum</span>
                </a>
            </div>
            <div class="icon">
                <a href="{{ url_for('download_bat', id=15) }}">
                <img src="../static/Image/pasta.png">
                <span>Treinamento</span>
                </a>
            </div>
            <div class="icon">
                <a href="{{ url_for('download_bat', id=16) }}">
                <img src="../static/Image/pasta.png">
                <span>Remuneração</span>
                </a>
            </div>
            <div class="icon">
                <a href="{{ url_for('download_bat', id=17) }}">
                <img src="../static/Image/pasta.png">
                <span>Gerencial</span>
                </a>
            </div>
            <div class="icon">
                <a href="{{ url_for('download_bat', id=18) }}">
                <img src="../static/Image/pasta.png">
                <span>Recrutamento</span>
                </a>
            </div>
            <div class="icon">
                <a href="{{ url_for('download_bat', id=19) }}">
                <img src="../static/Image/pasta.png">
                <span>Talentos</span>
                </a>
            </div>
            <div class="icon">
                <a href="{{ url_for('download_bat', id=20) }}">
                <img src="../static/Image/pasta.png">
                <span>Seg.</span>
                </a>
            </div>
        </div>
    </div>
</body>
</html>
